@using EntityLayer.concrete
@model List<book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Book Stock</th>
        <th>Book Category</th>
       
    </tr>
  
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.bookId</td>
                <td>@i.bookName </td>
                <td>@i.bookStock</td>
                <td>@i.categoryId</td>
                <td>
                    <a href="~/book/deleteBook/@i.bookId" style=" display: flex; align-items: center" class="btn btn-warning">
                        Delete
                    </a>
                    <a href="~/book/editBook/@i.bookId" class="btn btn-success" style=" display: flex; align-items: center; margin-top:5px;">
                        Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="~/book/addBook" class="btn btn-primary">Save</a>