@model EntityLayer.concrete.admin
@{
    ViewData["Title"] = "editAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Admin</h1>

@using (Html.BeginForm("editAdmin", "adminLogin", FormMethod.Post))
{
    <labal>Admin Nick</labal>
    @Html.TextBoxFor(i => i.AdminNick, new { @class = "form-control" })
    <br />
    <labal>Admin Mail</labal>
    @Html.TextBoxFor(i => i.AdminMail, new { @class = "form-control" })
    <br />
    <labal>Admin Password</labal>
    @Html.TextBoxFor(i => i.AdminPassword, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(i=>i.AdminId)
    <button class="btn btn-primary">Save</button>
}
