@using EntityLayer.concrete
@model List<borrowedBook>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Member Id</th>
        <th>Book Id</th>
        <th>Category Id</th>
        <th>Edit</th>
    </tr>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.memberId </td>
                <td>@i.bookId </td>
                <td>@i.categoryId</td>
                <td>
                    <a href="#" style=" display: flex; align-items: center" class="btn btn-warning">
                        Delete
                    </a>
                    <a href="#" class="btn btn-success" style=" display: flex; align-items: center; margin-top:5px;">
                        Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

