<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="~/book/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Book List
                    </a>
                    <a class="nav-link" href="~/borrowedBook/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-registered"></i></div>
                        Borrowed Book
                    </a>
                    <a class="nav-link" href="~/bookCategory/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Book Categories
                    </a>
                    <a class="nav-link" href="~/member/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Mermers of Library
                    </a>
                    <a class="nav-link" href="~/admin/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-bug"></i></div>
                        Admins
                    </a>
                </div>
            </div>
        </nav>
    </div>
